*{
    margin: 0px;
    padding: 0px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h4{
    margin: 3% 1%;
}
#continue{
    display: flex;
    justify-content: center;
    margin-left: auto;
    /* width: 30%; */
    /* height: 6%; */
    padding: 1%;
    color: blue;
    cursor: pointer;
}